body{
    background-color: rgb(51, 51, 51);
}

table {
    border-collapse: collapse;
    background: rgb(82,177,82); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(82,177,82,1) 14%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(82,177,82,1) 14%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(82,177,82,1) 14%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

table, th, td {
   border: 1px solid black;
}

th, td {
    width: 40px;
    height: 40px;
}

td.ship {
    background-color:#00EF3B;
}

th {
color:orange;
text-shadow: 1px 1px 2px rgba(252,235,217,.5);
background: #666666;
box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4),
 inset -2px -2px 2px rgba(0, 0, 0, .4);
 }

#game-info {
    color:white;
    font-size: 22px;
}

.wrapper {
    margin:auto;
    max-width:500px;
}